<p>new essay version</p>

<%= form_for :essay, url: essays_path do |f| %>
  <p>
    <%= f.label :submitter %><br>
    <%= f.text_field :submitter %>
  </p>
  <p>
    <%= f.label :comments %><br>
    <%= f.text_field :comments %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>
